# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio working folder
.vs/

# Rider
.idea/

# ASP.NET Core published files
wwwroot/lib/
wwwroot/node_modules/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log

# dotenv
.env
*.env

# Backup & cache
*.dbmdl
*.bak
*.cache
*.pdb

# Others
_Dependencies/
_ReSharper.Caches/

# App settings (never upload to GitHub)
appsettings.json
appsettings.*.json