<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - E_Commerce_Asp.net_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>