﻿<section class="bg-light">
    <div class="container">
        <footer class="py-3">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Contact Us</h5>
                    <div class="col-auto">
                        <div>
                            <h6>Adress</h6>
                            Göztepe / Kadıköy / İstanbul
                        </div>
                        <div>
                            <h6>Email</h6>
                            info@eticaretsitesi.com
                        </div>
                        <div>
                            <h6>Phone Number</h6>
                            0216 444 25 18
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Best-Selling Brands</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Monster</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Asus</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Acer</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Excalibur</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Samsung</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5>Best-Selling Categories</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Laptop Computer</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Desktop Computer</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Tablet Computer</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Monitors</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">TV & Video & Audio Systems</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-3">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                            <button class="btn btn-primary text-nowrap" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2024 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-secondary" href="x.com/" target="_blank">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-secondary" href="instagram.com/" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-secondary" href="facebook.com/" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>