@using ECommerce_UI.ExtensionMethods
<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerce_UI</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-evenly ">
				<form action="/Products" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
					<input name="q" type="search" class="form-control" placeholder="Search Product..." aria-label="Search">
				</form>
				<ul class="navbar-nav m-auto">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
					</li>

					@await Component.InvokeAsync("Categories")
					
				</ul>
				@if (Context.User.Identity.IsAuthenticated)
				{
					<div class="dropdown">
						<a class="dropdown-toggle nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person"></i>
							My Account
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/Account">My User Info</a></li>
							<li><a class="dropdown-item" href="/Account/">My Orders</a></li>
							<li><a class="dropdown-item" href="/Account/">My Reviews</a></li>
							<li><a class="dropdown-item" href="/Account/SignOut">Sign Out</a></li>
						</ul>
					</div>
				}
				else
				{
					<div class="dropdown">
						<a class="dropdown-toggle nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person"></i>
							Login
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/Account/SignIn">Sign In</a></li>
							<li><a class="dropdown-item" href="/Account/SignUp">Sign Up</a></li>
						</ul>
					</div>
				}
				<div class="dropdown">
					<a class="nav-link text-dark" href="/Favorites">
						<i class="bi bi-person"></i>
						My Favorites
					</a>

				</div>
				<div class="dropdown">
					@{
						var cart = Context.Session.GetJson<ECommerce.Service.Concrete.CartService>("Cart");
						if (cart != null && cart.CartLines.Count > 0)
						{

							<a class="dropdown-toggle nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-person"></i>
								My Cart
							</a>
							<ul class="dropdown-menu">
								@foreach (var item in cart.CartLines)
								{
									<li>
										<a class="dropdown-item" href="/Products/Details/@item.Product.Id">
											<img src="/Img/Products/@item.Product.Image" alt="" height="40"/>
											@item.Product.Name
										</a>

									</li>
								}
								<li class="text-center"><a class="btn btn-warning m-auto" href="/Cart">Go To Cart</a></li>
							</ul>
						}
						else
						{
							<a class="nav-link text-dark" href="/Cart">
								<i class="bi bi-person"></i>
								My Cart
							</a>
						}
					}


				</div>
				<a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
			</div>
		</div>
	</nav>
</header>