
@{
	ViewData["Title"] = "Thanks";
}


<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/Img/apple.jpg" alt="" width="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Thanks!</h1>
    <div class="col-lg-6 mx-auto">
        <h3>Your order has been received.</h3>
        <p class="lead mb-4">
            After the necessary checks are made, your order will be shipped.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/Account/MyOrders" class="btn btn-primary btn-lg px-4 gap-3">Order Tracking</a>
            <a href="/" class="btn btn-outline-secondary btn-lg px-4">Continue Shopping</a>
        </div>
    </div>
</div>